:focus {
    outline: 0;
    outline: -webkit-focus-ring-color none 5px;
    box-shadow: 0px 0px 10px green;

}
::selection {
    background:rgba(0,0,255,.1);
    color:#111;
}

::-moz-selection {

    color:#555;
}
:invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow:none;
}

::-webkit-selection {

    color:#555;
}
body{
    background: #ddd ;
    color: hsla(0,0%,20%,1);


    margin:0px;}
.admin{
    background:#ddd;

    margin:0px;}
*{font-family:arial, helvetica, sans-serif;font-size:16px;}
a img{border:0px;}
a{color:#111;}
input, select, textarea{border:solid 1px #888;}
small{font-size:10px;color:#424c65;}
th, #menu{color:#333;padding:8px;}
th b{color:#333;}
.stronglink{color:#248;font-size:13px;font-weight:bold;}
.blt{color:#333;}
.loginform{margin-top:20px;}
.tlogin{width:400px;}
#adminlink{
position: absolute;
top: 10px;
right: 5px;
}
#transactionno{font-size: 10px;}
#adminlink a{ text-decoration:none; margin-right:5px;}
#prodcodeButton, #customerButton, input, #customerdiv0, #menu a, #adminlink a, select, button {
    padding:.4em;
    border: solid 1px #222;
    cursor: pointer;
    color: hsla(0,0%,20%,1);
    text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
    background-color: hsl(0,0%,90%);

    transition: color .3s;
    border-radius: .3em;
  background: #f6f8f9;

}
#saletable{border-top:2px solid #333;
}
#footer{width:100%; display:block; min-height: 32px; position: fixed; bottom: 0px;}
#footer, #footer a{color:#111;font-size:10px;text-decoration:none;}
#footer div{text-align: right;
color: #333;
margin-top: 14px;
}
#header h4{font-size:18px;color:#333;margin-bottom:0px;}
#adminmenu{background:#888; color:#fff;border-top: 1px solid #fff;
border-bottom: 1px solid #fff;
padding-top: 5px;}
#adminmenu a{margin-right:10px;display:block;text-decoration:none;color:#ddd;font-weight:bold;}
#adminmenu a:hover{color:#fff;}
.admin .admin_content, .admin_header, #exported{padding:10px; background: #ccc; border-radius:6px; margin:20px;min-height:18px; border:1px solid #333;}
.admin_header{ width:33%;
width:max-content;
width:-moz-max-content;}
td.tvalue{border-top:solid 1px #f8f8f8;border-bottom:solid 1px #788;padding:2px;padding-left:8px;padding-right:8px;
}
td.grid{border-top:solid 1px #f8f8f8;border-left:solid 1px #f8f8f8;border-bottom:solid 1px #788;border-right:solid 1px #788;padding:2px;padding-left:8px;padding-right:8px;
}
td.btvalue{border-top:solid 1px #f8f8f8;border-bottom:solid 1px #788;padding:2px;font-size:14px;
}
td.btvalue a{font-size:14px;text-decoration:none;color:#222;}
td.btvalue a:hover{color:#902020;}
td.tvalue_lnk{border-top:solid 1px #f8f8f8;border-bottom:solid 1px #788;background:#e8ecf3;padding:2px;cursor:pointer;}
#hdr_report{padding:4px;border-top:solid 1px #ccc;border-bottom:solid 1px #ccc;}
.pset{border:solid 1px #788;background:#f1f3ff;width:14px;}
.pset a{text-decoration:none;font-weight:bold;display:block;height:14px;text-align:center;color:#248;}
#pageset *{font-size:11px;}
.first{ background: #ccc; }
.second{ background :#eee;}

/***
Sales frontend
***/
#fe_sales{}
#fe_sales form{margin-bottom:0px;}
td.keybn {
    width: 64px;
    height: 64px;
    padding: 0px;
    text-align: center;
    border: solid 1px #222;
    cursor: pointer;
    color: hsla(0,0%,20%,1);
    text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
    background-color: hsl(0,0%,90%);

    transition: color .3s;
    border-radius: .3em;
  background: #f6f8f9;
}
td.keybn_click {
    width: 64px;
    height: 64px;
    padding: 0px;
    text-align: center;
    border: solid 1px #222;
    cursor: pointer;
    color: red;

    background-color: hsl(0,0%,90%);

    transition: color .3s;
    border-radius: .3em;
    background: #f6f8f9;

}
td.keybh{width:128px;height:64px;padding:0px;text-align:center; border: solid 1px #222;
         cursor: pointer;
         color: hsla(0,0%,20%,1);
         text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
         background-color: hsl(0,0%,90%);

         transition: color .3s;
         border-radius: .3em;
         background: #f6f8f9;

}
td.keybh_click{width:128px;height:64px;padding:0px;    text-align: center;
    border: solid 1px #222;
    cursor: pointer;
    color: red;
    text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
    background-color: hsl(0,0%,90%);
    box-shadow: inset hsla(0,0%,15%, 1) 0 0px 0px 1px, /* border */ inset hsla(0,0%,15%, .8) 0 -1px 5px 1px, /* soft SD */ inset hsla(0,0%,0%, .25) 0 -1px 0px 3px, /* bottom SD */ inset hsla(0,0%,100%,.7) 0 2px 1px 3px, /* top HL */ hsla(0,0%, 0%,.15) 0 -5px 6px 1px, /* outer SD */ hsla(0,0%,100%,.5) 0 5px 6px 1px;
    transition: color .3s;
    border-radius: .3em;
    background: #f6f8f9;
}
td.keybv{font-size:10px;width:64px;height:128px;padding:0px;text-align:center;
         border: solid 1px #222;
         cursor: pointer;
         color: hsla(0,0%,20%,1);
         text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
         background-color: hsl(0,0%,90%);
         box-shadow: inset hsla(0,0%,15%, 1) 0 0px 0px 1px, /* border */ inset hsla(0,0%,15%, .8) 0 -1px 5px 1px, /* soft SD */ inset hsla(0,0%,0%, .25) 0 -1px 0px 3px, /* bottom SD */ inset hsla(0,0%,100%,.7) 0 2px 1px 3px, /* top HL */ hsla(0,0%, 0%,.15) 0 -5px 6px 1px, /* outer SD */ hsla(0,0%,100%,.5) 0 5px 6px 1px;
         transition: color .3s;
         border-radius: .3em;
       background: #f6f8f9;
}
td.keybv_click{font-size:10px;width:64px;height:128px;padding:0px;    text-align: center;
    border: solid 1px #222;
    cursor: pointer;
    color: red;
    text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
    background-color: hsl(0,0%,90%);
    box-shadow: inset hsla(0,0%,15%, 1) 0 0px 0px 1px, /* border */ inset hsla(0,0%,15%, .8) 0 -1px 5px 1px, /* soft SD */ inset hsla(0,0%,0%, .25) 0 -1px 0px 3px, /* bottom SD */ inset hsla(0,0%,100%,.7) 0 2px 1px 3px, /* top HL */ hsla(0,0%, 0%,.15) 0 -5px 6px 1px, /* outer SD */ hsla(0,0%,100%,.5) 0 5px 6px 1px;
    transition: color .3s;
    border-radius: .3em;
    background: #f6f8f9;
}
#sales_items{min-height:500px;max-height: 600px;overflow:auto;}
#tbl_sitems tr.selected td.tvalue, .pltable tr td.selected{ background: rgba(0,0,255,.1);

}
.switches{width:50px;}
#sales_items td.tvalue, .slstr th{padding:0px;padding-left:8px;padding-right:8px;}
.inp2{text-align:right;background:#ddd;}
.inp2:focus{background:#fff;}
.trade input{color:#00f !important;font-weight: bold !important; }
td.scurrency1, td.scurrency2{width:80px;text-align:right;font-weight:bold;}
td.scurrency1{color:#555;}
td.scurrency2{color:#222;}
#fe_categories{height:100%;}
table.tabcategory{width:100px;height:100px;border:solid 1px #cccccc;margin:5px;float:left;text-align:center;cursor:pointer;}
.tabcategory tr td{font-size:10px;}
#fe_items{height:100%;}
table.tabitem{height:100px;border:solid 1px #cccccc;margin:10px;display:inline-block;text-align:center;cursor:pointer;}
.tabitemid{font-weight: bold;}
table.tabitem tr td{font-size:12px;}
#customerDiv0, #customerDiv1, #customerDiv2, #customerButton, .pldisplay{border:solid 1px #222;}
#customerDiv0, .pldisplay{width:200px; display:inline-block;}
.pldisplay{height:200px; padding:5px;position:absolute;border:solid 1px #788;margin-top:-1px;overflow:auto;display:none;background:#f1f3f5;border-radius: 16px;margin-left: -150px;}
.closepl{right:8px; top:8px;position:absolute;margin-top:-8px;margin-right:-8px;height:33px;width:33px; }
#prodcodeDiv, #findcustomertext, #totals input{margin:5px auto;width:200px;height:32px; display:inline-block;padding-left:8px;border: 1px solid black; background:white;
}
#prodcodeDiv{
    background: white url(images/findproduct.png) top left no-repeat;
}
#totals input{width:120px;}
#prodcodeButton{margin:0;height:32px;}
#customerButton{width:100px;height:32px;margin-left: 3px;}
#customerDiv1, #customerDiv2{padding:5px;position:absolute;width:380px;border:solid 1px #788;margin-top:-1px;height:380px;overflow:auto;display:none;background:#f1f3f5;border-radius: 16px;}
#customer_menu{text-align:right;border-bottom:solid 1px #ccc;margin-bottom:4px;}
#customer_menu a{text-decoration:none;}
#customer_menu a:hover{color:#922;}
#customerDiv0{background:#fff;}
#tfinalsale td{border:solid 1px #ccc;}
b.tdtotal{color:#922;}
#salediv{margin:20px;}
.sale_value{border:0px;text-align:right;}
#ui-id-1{background:#f1f3f5;border:solid 1px #788;margin-top:-1px;cursor:pointer;max-height:450px;max-width:280px;overflow: hidden;overflow-y:auto;}

.ui-autocomplete .odd{background:#dedede;}
.catitems, #comments,#pmtouts, #custcomments,#frame, #sessions, #sessframe,#laybuydiv,#export,#import, #barcodes, #vouchers, #cosetup, .dailysum{
    width: 70%;
    height: 80%;
    display: none;
    color: #111;
    overflow:auto;
    overflow-x:hidden;
    overflow-style: panner;
    position: absolute;
    top: 10%;
    left: 15%;
    border: 1px solid black;
    border-radius: 8px;
    background: rgba(255,255,255,.95);
    box-shadow: 0px 0px 15px #111;
    z-index:999;}

    .iframe p{width:90%}
    .dailysum{padding:20px;}
    #super{ display: none;
      overflow: auto;
overflow-x: hidden;
overflow-style: panner;
position: absolute;
top: 10%;
left: 15%;
border: 1px solid black;
border-radius: 8px;
background: rgba(9,9,9,.95);
box-shadow: 0px 0px 15px #111;
z-index: 999;
height:420px;
    }
#superframe{height:360px;
background: none !important;
width: 560px;padding:10px;}
#dsframe{display: block;
margin: 10px;
width: 95%;
height: 90%;}
#barcodeiframe{width:100%;height:100%;}
#vouchers{padding:10px;height:600px;}
#comments, #pmtouts,#custcomments, #sessions, #sessframe, #super, #laybuydiv, #export, #import, #barcodes{background:rgba(255,255,255,.95); color:#111;padding:20px;position: fixed;}
#vframe,#pframe,#lframe, #vouchers, #cosetup {background:rgba(255,255,255,.95); color:#111;}
#vframe, #lframe, #pframe,#cosetupframe{width:95%; display:block; margin:20px;height:95%;}
#closecat,#closecomm,#closeitem, #closepmtouts, #closecosetup, #closecustcomm, #closesess, #closesuper, #closelaybuydiv, #closeexport, #closeimport, #closebar,#closevouchers, #closelaybuy, #closedailysum{right:5px; top:8px;position:absolute;margin-top:-8px;margin-right:-8px;height:33px;width:33px; float:right; }
#loginformdiv{width: 450px;
margin: 0 auto;
border: 2px solid black;
border-radius: 8px;
background: #aaa;
    color: hsla(0,0%,20%,1);
    text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 1px 1px;
padding:20px;}
#comment,#custcomment{ height: 90%;
width: 95%;
background: rgba(200,200,200,.5);
color: #222;
z-index: 93;
position: absolute;
padding:20px;}
.reveal { }
.clearbtn{position: relative; margin-left:5px;
          top: 3px;}
.cats {border-right: 3px dashed #666; width:380px; }
.kbtd{vertical-align:top;}
.custinfo{margin-bottom:5px;margin-top:15px;}
#menu{display: inline-block;
text-align: right !important;
position:absolute;
right: 0px;}
#menu a{text-decoration: none;}
#totals{
    position: absolute;
    right: 5px;
    top: 420px;

    border-radius:6px;
}
.padleft{padding-left:20px;display: inline-block;}
.catbutton{display: inline-block;}
.pmtcom{width:360px;}
#total,#remainder{background:#ccc;}
.price,.remainp,.totalp{width:100px; text-align:right;}
.items{z-index: 99;
       position: fixed;
       top: 40%;
       background: #fff;
       left: 50%;
       border: 1px solid black;
       border-radius: 8px;
       padding: 10px;
       box-shadow: 0px 0px 15px #111;}
.comms{width:100%; padding-top: 2px; padding-bottom:2px; }
.comms table td{ vertical-align:top;}
.pmtbody{background: #fff !important; padding:10px;}
#totals input{
    background-color: white;
    box-shadow: none;
    transition: color .3s;
    border-radius: .3em;
    background-image:none;
}
.slstr{height:28px;}
.slstr th{background: #f6f8f9;
}
.midth{border-top:1px solid white; border-bottom:1px solid black;}
.firstth{border-left:1px solid white; border-top:1px solid white; border-bottom:1px solid black;border-top-left-radius:8px;border-bottom-left-radius:8px;}
.lastth{border-right:1px solid black; border-top:1px solid white; border-bottom:1px solid black;border-bottom-right-radius:8px;border-top-right-radius:8px;}
.midtd{border-top:1px solid white; border-bottom:1px solid black;}
.firsttd{border-left:1px solid white; border-top:1px solid white; border-bottom:1px solid black;border-top-left-radius:8px;border-bottom-left-radius:8px;}
.lasttd{border-right:1px solid black; border-top:1px solid white; border-bottom:1px solid black;border-bottom-right-radius:8px;border-top-right-radius:8px;}

#frame, #sessframe{top: 40px;
display: inline-block;
left: 20px;
box-shadow: none;
position: absolute;
height: 580px;
width: 90%;
overflow: hidden;}
#sessframe{top:120px; height:400px;}
#frame #document html{overflow:hidden;}
input:-webkit-autofill {
background-color: #fff !important;
background-image: none;
color: rgb(0, 0, 0);}
#sessionstable{ width:100%; }
#sessionstable th{background: #f6f8f9;
}
.trodd{background:#eee;}
.treven{background:#ccc;}
.blank{background:none; margin:0; padding:0;}
.wintitle{z-index: 1;
position: absolute;
font-size: 72px;
color: rgba(0,0,0,.3);
font-weight: bold;
top: 155px;
text-align: center;
width: 100%;
}
#sessionid{border:0px; font-size:12px; margin:0px; padding:0px; color:#111; background:none;text-shadow:none;box-shadow:none;margin-left:1em;}
.sessid{font-size:10px;padding-right: 15px;}
#version{background: rgba(255,255,255,.7);
border-top: 2px solid black; display: inline-block;
width: 100%;
}
#adminmenu a {text-shadow:none;}
.product-image{border: 2px solid black;
border-radius: 8px;}
  input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
.path{
  width:320px;
}
#importframe,#exportframe{
width: 90%;
height: 90%;
}
#impmenu a{text-decoration:none;}
#vouch tr, #vouch td {line-height:24px;height:24px;}
.advch tbody tr td input{width:350px;}
#warn{
    padding: 20px;
margin: 20px;
padding-left: 50px;
background: url(images/warning.gif) #eee no-repeat 12px;

}
.hidden{ display:none;}
.center{text-align: center;}
.red{color:red;}
.blue{color:blue;}
.visible{ display:inline-block;}
.visibletaxed{ display:table-cell;width:10px;}
.pricelevel{width: 25px;
display: table-cell;}
.pldisplay input:focus, #payments input:focus{color:blue;}
#nav a input, a {text-decoration: none !important;}
.focus{border:red 2px solid;}
#additemlabel{margin-left:18px;}
.switch-wrapper {
  display: inline-block;
  position: relative;
  padding: 3px;
}
#void{padding:50px;}
.collapsible {
background: url(images/collapse_down.png) no-repeat scroll 0px 10px #999;
    cursor: pointer;
    font-weight: bold;


    /* padding-left: 20px; */
    color: #eee;
    text-shadow: none;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    vertical-align: middle;
    border: 1px solid black;
}

.active, .collapsible:hover {
  background-color: #777;
}
.active, .collpasible {
  background: url(images/collapse_up.png) no-repeat scroll 0px 10px #999;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #bbb;
}