/*
    Document   : installer
    Created on : 15/03/2013, 8:07:13 PM
    Author     : onyx
    Description: Installation css
*/

root {
    display: block;
}

body{background:#246AF6; font-family: Arial, Helvetica, sans-serif; font-size:14px; color:#111;}
H2{color:#fff; margin:20px;}
#content,#output{ border-radius:8px; border:2px solid #ccc; background:#fff;padding:20px;}
input{ border-radius:4px; border:1px solid #999; background:#ddd; padding:5px;}
input:focus{background:#eff;}
#output{position: relative; background: red; width: 50%; left:25%; color: #fff; font-weight: bold;}
a{color:#eee; font-weight:bold;}
