body{font-family:arial, helvetica, sans-serif; background:#fff;font-size:14px; margin: 0px; padding:0px;}
tr.header {background:url(bar2.png) repeat-x;text-align:right; color:red;font-weight:bold;}
.odd {background:#fff ; color:black;font-size:12px;height:14px;}
.even {background:#ddd ; color:black;font-size:12px;height:14px;}
.nonstock { color:blue;font-size:12px;height:14px;}
.webready {background:green; color:white;}
.endform {background: red;}
.tablehead {width:100%;}
.headrow { background: none; font-weight: bold; color:#eee;vertical-align: middle;
height: 32px; text-align:right; color:#eee;}
#content { Margin-top: 58px;}
#toolbar {background-color: #2D2D2D;
background-image: none;
_background-image: none;
background-position: 0 -138px;
background-repeat: repeat-x;
border-bottom: 1px solid black;
font-size: 24px;
height: 57px;
_height: 58px;
opacity: 0.9;
filter: alpha(opacity=90);
position: fixed;
top: 0;
width: 100%;
z-index: 990;
color: #eee;
font-size: 16px;

}
.col1 { width: 3%; }
.col2 { width: 10%; }
.col3 { width: 25%; text-align:center;}
.col4 { width: 10%; }
.col5 { width: 10%; }
.col6 { width: 10%; }
.col7 { width: 15%; }
.col8 { width: 7%; }
.left { float:left; }
.right { float:right; }
th, .message{color:#eee !important; padding:0px;}
.message{padding-right:20px;}
