/*
	Todd Motto Labs
	URL: www.toddmotto.com
*/

/*------------------------------------*\
    RESET
\*------------------------------------*/

*,
*:after,
*:before {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}


/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/
#menucontainer{
position:absolute;
top:0px;
left:300px;
}
#menu1,#menu2{
 padding: 0px !important;
    text-align: center !important;
    border: solid 1px #222 !important;
    cursor: pointer !important;
    color: hsla(0,0%,20%,1) !important;
    text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px !important;
    /*background-color: hsl(0,0%,90%) !important;*/
    box-shadow: inset hsla(0,0%,15%, 1) 0 0px 0px 1px, /* border */ inset hsla(0,0%,15%, .8) 0 -1px 5px 1px, /* soft SD */ inset hsla(0,0%,0%, .25) 0 -1px 0px 3px, /* bottom SD */ inset hsla(0,0%,100%,.7) 0 2px 1px 3px, /* top HL */ hsla(0,0%, 0%,.15) 0 -5px 6px 1px, /* outer SD */ hsla(0,0%,100%,.5) 0 5px 6px 1px !important;
    transition: color .3s !important;
    border-radius: .3em !important;
    background: #08f;

}
.wrapper {
	max-width:1280px;
	margin:0 auto;
}
.header {
	padding:15px 25px;
	background:#FFF;
	border-left:5px solid #2BA6CB;
	overflow:hidden;
}
.logo {
	float:left;
}
.nav {
	float:right;
	margin:12px 0;
	list-style:none;
}
.nav-link {
	
}
.nav-link a {
	color:#2BA6CB;
	text-decoration:none;
}
/*
	Todd Motto Labs
	URL: www.toddmotto.com
*/

/*------------------------------------*\
   Clickable Dropdown
\*------------------------------------*/


.click-nav {
	/*margin:100px auto;
	width:200px;*/
}
.click-nav ul {
	font-weight:900;
}
.click-nav ul li {
	position:relative;
	list-style:none;
	cursor:pointer;
	min-width:200px;
	display:inline-block;
}
.clicker{width:200px;}
.click-nav ul li ul {
	position:absolute;
	left:0;
	right:0;
	display:none;
}
.click-nav ul .clicker {
	  padding:.4em;
    border: solid 1px #222;
    cursor: pointer;
    color: hsla(0,0%,20%,1);
    text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
    background-color: hsl(0,0%,90%);
    box-shadow: inset hsla(0,0%,15%, 1) 0 0px 0px 1px, /* border */ inset hsla(0,0%,15%, .8) 0 -1px 5px 1px, /* soft SD */ inset hsla(0,0%,0%, .25) 0 -1px 0px 3px, /* bottom SD */ inset hsla(0,0%,100%,.7) 0 2px 1px 3px, /* top HL */ hsla(0,0%, 0%,.15) 0 -5px 6px 1px, /* outer SD */ hsla(0,0%,100%,.5) 0 5px 6px 1px;
    transition: color .3s;
    border-radius: .3em;
    background: #08f; 

}

.click-nav img {
	position:absolute;
	top:9px;
	left:12px;
}
.click-nav ul li a {
	transition:background-color 0.2s ease-in-out;
	-webkit-transition:background-color 0.2s ease-in-out;
	-moz-transition:background-color 0.2s ease-in-out;
	display:inline-block;
	padding:8px 10px 8px 10px;
	
	color:#333;
	text-decoration:none;
}
.hotkeylabel{font-size:.6em;color:#003f81;display:inline-block;}
/* Fallbacks */
.click-nav .js ul {
	display:none;
}
.click-nav a.clicker:hover ::parent ul{
	display:block;
}
